name: Test

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  unit-test:
    name: Unit Tests (${{ matrix.os }}-${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-latest
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
          - os: darwin
            arch: arm64
            runner: macos-14
          - os: windows
            arch: amd64
            runner: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run unit tests (Unix)
        if: runner.os != 'Windows'
        run: go test -v -race ./pkg/...

      - name: Run unit tests (Windows)
        if: runner.os == 'Windows'
        run: go test -v ./pkg/...

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        if: matrix.os == 'linux' && matrix.arch == 'amd64'
        with:
          files: ./coverage.out
          flags: unittests
          name: codecov-umbrella

  integration-test:
    name: Integration Tests (${{ matrix.os }})
    runs-on: ${{ matrix.runner }}
    needs: unit-test
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runner: ubuntu-latest
          - os: darwin
            runner: macos-14
          - os: windows
            runner: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Build binary (Unix)
        if: runner.os != 'Windows'
        run: go build -o static-webshot ./cmd/staticwebshot

      - name: Build binary (Windows)
        if: runner.os == 'Windows'
        run: go build -o static-webshot.exe ./cmd/staticwebshot

      - name: Run integration tests (Unix)
        if: runner.os != 'Windows'
        run: go test -v -race -timeout 5m ./...

      - name: Run integration tests (Windows)
        if: runner.os == 'Windows'
        run: go test -v -timeout 5m ./...
